li {
list-style-type: none;
}
ul {
margin-left: 0; /* Отступ слева в браузере IE и Opera */
padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.my-link_in_the_text {
color: #8dc351;
}
.my-disabled_link {
pointer-events:none;
}
.my-form-submit_button {
display: block;
background-color: #8dc351;
font-size: 15px;
margin: 10px auto;
}