{% extends 'base.html' %}


{% block content %}

<style>
.order_form {
margin-top: 5%;
background: white;
color: rgba(0,0,0,.54);
}
.my-order_form-title {
background: #263238;
color: #8dc351;
font-size: 20px;
padding-top: 10px;
padding-bottom: 10px;
}
.my-order_form-element{
padding-left: 20px;
}
.my-order_form-text {

}
.my-order_form-label {
font-size: 16px;
}
</style>

<form class="order_form" action="" method="post">
    {% csrf_token %}
    <div class="mdl-grid">
        <div class="my-order_form-element my-order_form-title  mdl-cell mdl-cell--12-col">
            Контактная информация покупателя
        </div>
        {% if not user.is_authenticated %}
        <div class="my-order_form-element my-order_form-text mdl-cell mdl-cell--12-col">
            <a class="my-link_in_the_text" href="{% url 'loginsys:user_login' %}">Войдите</a>, если вы зарегистрированы у нас
        </div>
        {% endif %}
        <div class="my-order_form-element my-order_form-label mdl-cell mdl-cell--2-col">
            {{ form.name.label_tag }}
        </div>
        <div class="my-order_form-element my-order_form-field mdl-cell mdl-cell--10-col">
            {{ form.name }}
        </div>
        <div class="my-order_form-element my-order_form-label mdl-cell mdl-cell--2-col">
            {{ form.phone.label_tag }}
        </div>
        <div class="my-order_form-element my-order_form-field mdl-cell mdl-cell--10-col">
            {{ form.phone }}
        </div>
        <div class="my-order_form-element my-order_form-title  mdl-cell mdl-cell--12-col">
            Условия доставки
        </div>
        <div class="my-order_form-element my-order_form-field mdl-cell mdl-cell--1-col">
            {{ form.express_delivery }}
        </div>
        <div class="my-order_form-element my-order_form-label mdl-cell mdl-cell--11-col">
            {{ form.express_delivery.label_tag }}
        </div>
        <div class="my-order_form-element my-order_form-label mdl-cell mdl-cell--2-col">
            {{ form.address.label_tag }}
        </div>
        <div class="my-order_form-element my-order_form-field mdl-cell mdl-cell--10-col">
            {{ form.address }}
        </div>
        <div class="my-order_form-element my-order_form-text mdl-cell mdl-cell--12-col">
            Или выберите один из пунктов самовывоза
        </div>
        <div class="my-order_form-element my-order_form-label mdl-cell mdl-cell--2-col">
            {{ form.pickup_point.label_tag }}
        </div>
        <div class="my-order_form-element my-order_form-field mdl-cell mdl-cell--10-col">
            {{ form.pickup_point }}
        </div>


    </div>






    <!--add non-field errors-->
    <!--add field errors-->



    <!--{{ order_form.non_field_errors }}-->
    <!--{% for field in order_form %}-->
        <!--<div>-->
            <!--{{ field.errors }}-->
            <!--{{ field.label_tag }}-->
            <!--{{ field }}-->
        <!--</div>-->
    <!--{% endfor %}-->
</form>

{% endblock %}




<!--class Order(models.Model):-->
    <!--customer = models.ForeignKey(User, on_delete=models.CASCADE, blank=True, null=True)-->
    <!--name = models.CharField(max_length=50, blank=True)-->
    <!--phone = models.CharField(max_length=50, blank=True)-->
    <!--express_delivery = models.BooleanField(default=True)-->
    <!--address = models.TextField(blank=True)-->
    <!--pickup_point = models.ForeignKey(PickupPoint, on_delete=models.PROTECT, blank=True, null=True)-->
    <!--comment = models.TextField(blank=True)-->
    <!--confirmed = models.DateField(blank=True, null=True)-->
    <!--closed = models.DateField(blank=True, null=True)-->