{% extends 'base.html' %}

{% load static %}
{% load ordersys_extras %}

{% block content %}

<script type="text/javascript" src="{% static 'ordersys/js/ordersys.js' %}"></script>
<style>
.my-order_form {
margin-top: 5%;
margin-bottom: 5%;
background: white;
color: rgba(0,0,0,.54);
}
.my-order_form input[type = 'text'] {
width: 100%;
}
.my-order_form input[type = 'tel'] {
width: 100%;
}
.my-order_form textarea {
width: 100%;
}
.my-order_form img {
width: 100%;
}
.my-order_form div > div {
padding-left: 20px;
}
.my-order_form-title {
background: #263238;
color: #8dc351;
font-size: 20px;
padding-top: 10px;
padding-bottom: 10px;
}
.my-order_form-text {
}
.my-order_form-label {
font-size: 16px;
}
.mdl-checkbox {
width: auto;
}
.errorlist {
text-align: center;
color: red;
}
</style>

<form class="my-order_form" action="" method="post">
    {% csrf_token %}
    <div class="mdl-grid">
        {% for ordered_item, ordered_item_form in formset.items %}
        <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--1-col-phone">
            <img src="{{ ordered_item.product.picture.url }}">
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--1-col-phone">
            {{ ordered_item }}
            {{ ordered_item.option_list }}
        </div>
        <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
            {{ ordered_item_form.quantity.label_tag }}
            {{ ordered_item_form.quantity }}
            {{ ordered_item_form.errors }}
        </div>
        <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
            4
        </div>
        {% endfor %}


        <div class="my-order_form-title  mdl-cell mdl-cell--12-col">
            Контактная информация покупателя
        </div>
        {% if not user.is_authenticated %}
        <div class="my-order_form-text mdl-cell mdl-cell--12-col">
            <a class="my-link_in_the_text" href="{% url 'loginsys:user_login' %}">Войдите</a>, если вы зарегистрированы
            у нас
        </div>
        {% endif %}
        <div class="my-order_form-label mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            {{ order_form.name.label_tag }}
        </div>
        <div class="mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            {{ order_form.name }}
            {{ order_form.name.errors }}
        </div>
        <div class="my-order_form-label mdl-cell mdl-cell--2-col  mdl-cell--1-col-phone">
            {{ order_form.phone.label_tag }}
        </div>
        <div class="mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet  mdl-cell--3-col-phone">
            {{ order_form.phone }}
            {{ order_form.phone.errors }}
        </div>
        <div class="my-order_form-title  mdl-cell mdl-cell--12-col">
            Условия доставки
        </div>

        <div class="mdl-cell mdl-cell--12-col">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" onclick="turn_off_pickup_point_radio();"
                   for="{{ order_form.express_delivery.id_for_label }}">
                {{ order_form.express_delivery|add_class:'mdl-checkbox__input' }}
                <span class="mdl-checkbox__label">{{ order_form.express_delivery.label }}</span>
            </label>
        </div>

        <div class="my-order_form-label mdl-cell mdl-cell--2-col  mdl-cell--1-col-phone">
            {{ order_form.address.label_tag }}
        </div>
        <div class="mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--11-col-phone">
            {{ order_form.address }}
            {{ order_form.address.errors }}
        </div>
        <div class="my-order_form-text mdl-cell mdl-cell--12-col">
            <b>Или выберите один из пунктов самовывоза:</b>
        </div>

        {% for radio in order_form.pickup_point %}
        <div class="mdl-cell mdl-cell--12-col">
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" onclick="turn_off_express_delivery_checkbox();"
                   for="{{ radio.id_for_label }}">
                {{ radio.tag }}
                <span class="mdl-radio__label">{{ radio.choice_label }}</span>
            </label>
        </div>
        {% endfor %}

        <div class="my-order_form-label mdl-cell mdl-cell--2-col">
            {{ order_form.comment.label_tag }}
        </div>
        <div class="mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet">
            {{ order_form.comment }}
            {{ order_form.comment.errors }}
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            {{ order_form.non_field_errors }}
            <button class="my-form-submit_button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Подтвердить заказ</button>
        </div>
    </div>


    <!--add non-field errors-->
    <!--add field errors-->


    <!--{{ order_form.non_field_errors }}-->
    <!--{% for field in order_form %}-->
    <!--<div>-->
    <!--{{ field.errors }}-->
    <!--{{ field.label_tag }}-->
    <!--{{ field }}-->
    <!--</div>-->
    <!--{% endfor %}-->
</form>


<!--class Order(models.Model):-->
<!--customer = models.ForeignKey(User, on_delete=models.CASCADE, blank=True, null=True)-->
<!--name = models.CharField(max_length=50, blank=True)-->
<!--phone = models.CharField(max_length=50, blank=True)-->
<!--express_delivery = models.BooleanField(default=True)-->
<!--address = models.TextField(blank=True)-->
<!--pickup_point = models.ForeignKey(PickupPoint, on_delete=models.PROTECT, blank=True, null=True)-->
<!--comment = models.TextField(blank=True)-->
<!--confirmed = models.DateField(blank=True, null=True)-->
<!--closed = models.DateField(blank=True, null=True)-->

{% endblock %}







