<style>
    .auth_form {
    margin-top: 100px;
    }
    .auth_form div {
    margin-top: 20px;
    }
</style>

<div class="auth_form">
    <form action="{{ form.url }}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        {% if redirect_url %}
        <input type="hidden" name="redirect_url" value="{{redirect_url}}"/>
        {% endif %}
        <div>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                {{ form.button_text }}
            </button>
        </div>
    </form>
</div>
