<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_green-yellow.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
    {% load staticfiles %}

  <!-- The drawer is always open in large screens. The header is always shown,
    even in small screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
              mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">D-vision</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Меню</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Подбор линз</a>
        <a class="mdl-navigation__link" href="">Доставка и оплата</a>
        <a class="mdl-navigation__link" href="">Пункты выдачи</a>
        <a class="mdl-navigation__link" href="">Акции</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
          {% block content %}
            <!-- Your content goes here height: 200px; -->
            <style>.mdl-cell {
              box-sizing: border-box;
              background-color: #BDBDBD;

              padding-left: 8px;
              padding-top: 4px;
              color: white;
            }
            .mdl-grid:first-of-type .mdl-cell {
              height: 200px;
            }
            .mdl-card {
            background-color: lightgreen;
            width: unset
            }
            </style>

            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">12</div>
            </div>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-card mdl-shadow--4dp">
                  <div class="mdl-card__media"><img src="{% static 'catalog/index_lens_1.jpg' %}" width="100%" height="100%" border="0"
                   alt="">
                  </div>
                  <div class="mdl-card__title">
                     <h2 class="mdl-card__title-text">Линзы для зрения</h2>
                  </div>
                  <div class="mdl-card__supporting-text">
                  The Sky Tower is an observation and telecommunications tower located in Auckland,
                  New Zealand. It is 328 metres (1,076 ft) tall, making it the tallest man-made structure
                  in the Southern Hemisphere.
                  </div>
                </div>
              </div>
              <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-card mdl-shadow--4dp">
  <div class="mdl-card__media"><img src="skytower.jpg" width="173" height="157" border="0"
   alt="" style="padding:10px;">
  </div>
  <div class="mdl-card__supporting-text">
    Auckland Sky Tower, taken March 24th, 2014
  </div>
  <div class="mdl-card__supporting-text">
  The Sky Tower is an observation and telecommunications tower located in Auckland,
  New Zealand. It is 328 metres (1,076 ft) tall, making it the tallest man-made structure
  in the Southern Hemisphere.
  </div>
</div>
              </div>
              <div class="mdl-cell mdl-cell--3-col">4</div>
              <div class="mdl-cell mdl-cell--3-col">4</div>
            </div>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--3-col">4</div>
              <div class="mdl-cell mdl-cell--3-col">4</div>
              <div class="mdl-cell mdl-cell--3-col">4</div>
              <div class="mdl-cell mdl-cell--3-col">4</div>
            </div>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">6 (8 tablet)</div>
              <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet">4 (6 tablet)</div>
              <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone">2 (4 phone)</div>
            </div>

          {% endblock %}

          {% block display %}{% endblock %}

      </div>

      {% block footer %}
      <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Title</div>
            <ul class="mdl-mini-footer__link-list">
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy & Terms</a></li>
            </ul>
          </div>
      </footer>
      {% endblock %}

    </main>
  </div>
</body>
</html>




