{% extends "base.html" %}

{% block content %}
<style>
    .my-filter {
        background-color: #37474f;
    }
    .my-filter__title {
        padding: 10px 20px;
        color: #8dc351;
        background: #263238;
        font-size: 20px;
    }
    .my-filter-block__title {
        padding: 10px 20px;
        color: #8dc351;
        background: #263238;
        font-size: 16px;
    }
    .my-filter-block__filters {
        background: #37474f;
        padding-left: 15px;
    }
    .mdl-checkbox__label {
        font-size: 15px;
    }
</style>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col">
        <div class="my-filter">
            <div class="my-filter__title">
                Подбор линз
            </div>
            <!-- product types-->
            {% if sub_cat_list %}
            <div class="my-filter-block">
                <div class="my-filter-block__title">Типы</div>
                <div class="my-filter-block__filters">
                    {% for sub_cat in sub_cat_list %}
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cb_sc_{{sub_cat.id}}">
                        <input type="checkbox" id="cb_sc_{{sub_cat.id}}" class="mdl-checkbox__input">
                        <span class="mdl-checkbox__label">{{sub_cat.name}}</span>
                    </label>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <!-- manufacturers-->
            <div class="my-filter-block">
                <div class="my-filter-block__title">Бренды</div>
                <div class="my-filter-block__filters">
                    {% for manufacturer in manufacturers %}
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cb_m_{{manufacturer.id}}">
                        <input type="checkbox" id="cb_m_{{manufacturer.id}}" class="mdl-checkbox__input">
                        <span class="mdl-checkbox__label">{{manufacturer.brand}}</span>
                    </label>
                    {% endfor %}
                </div>
            </div>

            <!-- filters -->
            {% for filter_name, filter_values in filters.items %}
            <div class="my-filter-block">
                <div class="my-filter-block__title">{{filter_name.name}}</div>
                <div class="my-filter-block__filters">
                    {% for filter_value in filter_values %}
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cb_{{filter_name.id}}_{{filter_value.id}}">
                        <input type="checkbox" id="cb_{{filter_name.id}}_{{filter_value.id}}" class="mdl-checkbox__input">
                        <span class="mdl-checkbox__label">{{filter_value.value}}</span>
                    </label>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

        </div>

    </div>

    <div class="mdl-cell mdl-cell--9-col">
        <div>{{test}}</div>

    </div>
</div>
{% endblock %}

