{% extends "base.html" %}

{% block content %}
<!-- Your content goes here height: 200px; -->
<style>

</style>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">12</div>
</div>
<div class="mdl-grid">
    {% for sale_card in sale_cards %}
    <div class="mdl-cell mdl-cell--3-col">
        <div class="mdl-card mdl-shadow--4dp">
            <a href="" style="text-decoration: none">
                <div class="mdl-card__media"><img src="{{ sale_card.picture.url }}" border="0"
                                                  alt="">
                </div>
                <div class="mdl-card__title" style="background-color: #8dc351; color: #fafafa">
                    <h2 class="mdl-card__title-text">{{ sale_card.title }}</h2>
                </div>
            </a>
            <div class="mdl-card__supporting-text">
                {{ sale_card.text }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col">4</div>
    <div class="mdl-cell mdl-cell--3-col">4</div>
    <div class="mdl-cell mdl-cell--3-col">4</div>
    <div class="mdl-cell mdl-cell--3-col">4</div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">6 (8 tablet)</div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet">4 (6 tablet)</div>
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone">2 (4 phone)</div>
</div>
{% endblock %}

