{% extends "base.html" %}

{% block content %}
<style>
    .my-filter {
        background-color: #37474f;
    }
    .my-filter__title {
        border-bottom: 10px solid #37474f;
        padding: 10px 20px;
        color: #8dc351;
        background: #263238;
        font-size: 20px;
    }
    .my-filter-block__title {
        padding: 10px 20px;
        color: #8dc351;
        background: #263238;
        font-size: 16px;
    }
    .my-filter-block__filters {
        background: #37474f;
        padding-left: 15px;
        color: white;
    }
    .mdl-checkbox__label {
        font-size: 15px;
    }
    .my-product_card__media {
        height: 150px;
        padding: 20px 10px;
        background: #37474f;
    }
    .my-product_card__media img {
        width: 100%;
        max-height: 110px;
    }
    .my-product_card__title {
        height: 60px;
    }
    .mdl-card__title-text {
        align-self: center;
        text-align: center;
        font-size: 20px;
    }
    .my-filter-block__filters-2_col {
        display: inline-block;
        width: 45%;
    }
    .my-filter-block__filters-interval {
        display: inline-block;
        width: 35%;
        min-height: 100px;
    }
    .mdl-textfield__label {
        color: gray;
    }
    .mdl-textfield__input {
        border-bottom: 1px solid #263238;
    }
</style>
<div class="mdl-grid">

    <!-- filters block -->
    <div class="mdl-cell mdl-cell--3-col">
        <div class="my-filter">
            <div class="my-filter__title">
                Подбор линз
            </div>
            <form action="{% url 'catalog:product_filter' %}" method="get">
                <!-- product types-->
                {% if not cat_list|length_is:'1' %}
                <div class="my-filter-block">
                    <div class="my-filter-block__title">Категории</div>
                    <div class="my-filter-block__filters">
                        {% for sub_cat in cat_list %}
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cb_sc_{{sub_cat.id}}">
                            <input type="checkbox" id="cb_sc_{{sub_cat.id}}" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">{{sub_cat.name}}</span>
                        </label>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <!-- manufacturers-->
                <div class="my-filter-block">
                    <div class="my-filter-block__title">Производители</div>
                    <div class="my-filter-block__filters">
                        {% for manufacturer in manufacturers %}
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cb_m_{{manufacturer.id}}">
                            <input type="checkbox" id="cb_m_{{manufacturer.id}}" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">
                                {% if manufacturer.brand %}
                                    {{ manufacturer.brand }}
                                {% else %}
                                    {{manufacturer.producer}}
                                {% endif %}
                            </span>
                        </label>
                        {% endfor %}
                    </div>
                </div>

                <!-- other filters - there is 3 ways to be displayed - in 1 column, in 2 and interval-->
                {% for filter_name, filter_values in filters.items %}
                <div class="my-filter-block">
                    <div class="my-filter-block__title">{{filter_name.name}}</div>
                    <div class="my-filter-block__filters">


                        {% if filter_name.appearance_in_filters == '2 col' %}
                        <!-- in 2 cols -->
                            {% for filter_value in filter_values %}
                                <div class="my-filter-block__filters-2_col">
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cb_{{filter_name.id}}_{{filter_value.id}}">
                                        <input type="checkbox" id="cb_{{filter_name.id}}_{{filter_value.id}}" class="mdl-checkbox__input">
                                        <span class="mdl-checkbox__label">{{filter_value.value}}</span>
                                    </label>
                                </div>
                            {% endfor %}

                        {% elif filter_name.appearance_in_filters == 'interval' %}
                        <!-- in interval -->
                            {% for min_and_max in filter_values %}
                            <span>{% cycle "От" "До" %}</span>
                            <div class="my-filter-block__filters-interval">
                                  <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="interval_{{filter_name.id}}_{% cycle 'min' 'max' %}">
                                    <label class="mdl-textfield__label" for="interval_{{filter_name.id}}_{% cycle 'min' 'max' %}">{{ min_and_max }}</label>
                                    <span class="mdl-textfield__error">Input is not a number!</span>
                                  </div>
                            </div>
                            {% endfor %}

                        {% else %}
                        <!-- in 1 cols -->
                            {% for filter_value in filter_values %}
                                <div>
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cb_{{filter_name.id}}_{{filter_value.id}}">
                                        <input type="checkbox" id="cb_{{filter_name.id}}_{{filter_value.id}}" class="mdl-checkbox__input">
                                        <span class="mdl-checkbox__label">{{filter_value.value}}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <input type="submit" value="Найти" />
            </form>
            {{ get_data }}
        </div>
    </div>

    <!-- product grid in the right sade of the screen -->
    <div class="mdl-cell mdl-cell--9-col">

        <div class="mdl-grid">
                {% for product in products %}
            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
                <div class="mdl-card mdl-shadow--4dp">
                    <a class="my-link" href="">
                        <div class="mdl-card__media my-product_card__media"><img src="{{ product.picture.url }}" border="0" alt=""></div>
                        <div class="mdl-card__title my-product_card__title">
                            <h2 class="mdl-card__title-text">{{ product.name }}</h2>
                        </div>
                    </a>
                    <div class="mdl-card__supporting-text">
                        а цена то только в спек_прод =)
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

</div>
{% endblock %}

